

<html>


<body>
	<div>
		<h1>Register</h1>
		<br>
		{% from "_formhelpers.html" import render_field %}
		<form method="post">
			<input type="hidden" name="csrf_token" id="csrf_token" value="IjA0OGVhMzdmOTljMjEzOWY0ZGFlOGUyYzgyMjIwMWY5YjI1MmQ1YmEi.Xaihkw.DX4YlQQczooa57cVf53DOg8I0po"/>
			<dl>
				{{ form.csrf_token }}
				{{  render_field(form.username, id="uname")  }}
				{{  render_field(form.password, id="pword")  }}
				{{  render_field(form.mfa, id="2fa")  }}

			
			</dl>
			<p><input type=submit value=Register></p>
			<p id="success"> {{ success }} </p>
			
		</form>


	</div>
</body>
</html>
 
